@font-face {
  font-family: Speedee;
  src: url(../fonts/Speedee-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Speedee;
  src: url(../fonts/Speedee-Bold.woff2);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

